@tailwind base
@tailwind components
@tailwind utilities

:root
    --color-bg: #ffffff

body
    background-color: var(--color-bg)

header
    background-color: var(--color-header-bg)

[data-theme="dark"]
    --color-bg: #212e37
    --color-header-bg: #2b3743



.box-scroll
    max-height: 70vh
    overflow: auto
